# Dependencies
node_modules
vendor

# Laravel Specific
.env
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
.dockerignore