APP_NAME=Agrija
APP_ENV=local
APP_KEY=base64:IOpPi+AVL4DLzQdhQ7UhqQ75DyYVKaK9ZNM6i2lNHxo=
APP_DEBUG=true
APP_URL=https://agrija.site
ASSET_URL=https://agrija.site

LOG_CHANNEL=stack

# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=Agrija
# DB_USERNAME=root
# DB_PASSWORD=root

DB_CONNECTION=pgsql
DB_HOST=aws-1-eu-west-1.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.wlkqsqovcwwctutvdqzs
DB_PASSWORD=Agrija2000*69

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120